body {
    padding: 0px;
    margin: 0px;
    background-color: black;
}

.flex{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.header{
    background-color: #2a459c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    border-bottom: 3px solid aliceblue;
    animation-name: header;
    animation-duration: 1s;
    transform: translateY(-150%);
    animation-fill-mode: forwards;
}

@keyframes header {
    0%{
       transform: translateY(-150%);
    }

    100%{
        transform: translateY(0);
    }
}
header img{
    
    height: 100%;
}
header img:hover{
    
    height: 90%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
.menu-link{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    text-decoration-color: #2a459c;

    
}
.menu-link:hover{
        font-size: 27px;
        
        border-bottom: 2px solid aliceblue;
    }

.about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
}

.about h1{
    align-items: center;
    justify-content: center;
    text-align: center;
}








.about a{
    width: 350px;
    height: 200px;
    text-align: center;
    color: aliceblue;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.category  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30%;
    min-width: 30%;
    h1{
  padding-bottom: 10px;
  background:
    radial-gradient(circle closest-side, currentColor 80%, transparent) bottom /5px 5px no-repeat,
    radial-gradient(circle closest-side, currentColor 80%, transparent) bottom /5px 5px no-repeat,
    linear-gradient(currentColor 0 0) bottom left /var(--d, 0%) 5px no-repeat,
    linear-gradient(currentColor 0 0) bottom right/var(--d, 0%) 5px no-repeat;
  transition: 0.3s, background-position 0.3s 0.3s;
    }
}
.category:hover {
    h1{
        
        
         --d: 100%;
  background-position: bottom left, bottom right;
  transition: 0.3s, background-size 0.3s 0.3s;
    }
 
}












.about img{
    width: 100%;
    height: 300px;
    border: 3px solid #2a459c;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: aliceblue;
    width: 100%;
    height: 100px;
    background-color: #2a459c;
     text-align: center;
     border-top: 3px solid aliceblue;

     animation-name: footer;
    animation-duration: 1s;
    transform: translateY(+150%);
    animation-fill-mode: forwards;
}

@keyframes footer {
    0%{
       transform: translateY(+150%);
    }

    100%{
        transform: translateY(0);
    }
}
